<div id="gallery" class="container-fluid" style="background-image: url('{{ site.baseurl }}/images/bg.jpg');">
    <!-- Container element for Masonry -->
    <div class="grid row">
        <!-- add sizing element for columnWidth -->
        <div class="grid-sizer col-4"></div>

        {% for image in site.static_files %}
        {% if image.path contains 'gallery' %}
        <div class="grid-item col-4 p-4">
            <!-- wrap item content in its own element -->
            <div class="grid-item-content p-4">
                <img src="{{ site.baseurl }}/{{ image.path }}" alt="">
                <div class="image-title">
                    <a href="#">Titulo</a>
                </div>
                <div class="post-hover text-center">
                    <div class="inside">
                        <i class="fa fa-plus"></i>
                        <span class="date">25 Jan 2084</span>
                        <h4><a href="#">Title one goes here</a></h4>
                        <p>Cum sociis natoque penatibus et magnis dis parturient</p>
                    </div>
                </div>
            </div> <!-- /.grid-item-->
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>