
<div id="catalogue" style="display:none; background-image: url('{{ site.baseurl }}/images/bg.jpg');">
  <div class="table">
      <h2 class="heading">Fotografía Digital</h2>
      <div class="block">
      <p>Archivo Original
        <span class="price">30€/<sub>foto</sub></span>   
        <ul class="options">
          <li>Alta Calidad</li>
          <li>Formatos estándar .JPG .PNG</li>
          <li>Sin marca de agua central</li>
        </ul>
      </p>
    </div> 
    <button class="btn">
      <p>Elegir Foto</p>
      <span class="fa fa-images" aria-hidden="true"></span>
    </button>
  </div>

  <div class="table">
    <h2 class="heading">Fotografía Impresa</h2>
    <div class="block">
    <p>Sobre Foam
      <span class="price">60-70€*/<sub>foto</sub></span>   
      <ul class="options">
        <li>40x50cm o 40x60cm</li>
        <li>(*) + gastos de envío</li>
      </ul>
    </p>
  </div>
  <div class="block">
  <p>Sobre Lienzo
      <span class="price">80-90€*/<sub>foto</sub></span>   
      <ul class="options">
        <li>40x50cm o 40x60cm</li>
        <li>(*) + gastos de envío</li>
      </ul>
    </p>
  </div>
  <button class="btn">
    <p>Elegir Foto</p>
    <span class="fa fa-images" aria-hidden="true"></span>
  </button>
  </div>
    
  <div class="table">
    <h2 class="heading">Personalizado</h2>
    <div class="block">
    <p>A consultar
      <ul class="options">
        <li>Impresiones personalizadas</li>
        <li>Más fotos de modelos</li>
        <li>Sesiones fotográficas</li>
      </ul>
    </p>
  </div>
  <button class="btn">
    <p>¡Charlemos!</p>
    <span class="fa fa-comments" aria-hidden="true"></span>
  </button>
  </div>
</div>
    